apiVersion: apps/v1
kind: Deployment
metadata:
  name: accounts
  namespace: sn-labs-bhamra1234
  labels:
    app: accounts
spec:
  replicas: 3
  selector:
    matchLabels:
      app: accounts
  template:
    metadata:
      labels:
        app: accounts
    spec:
      containers:
      - name: accounts
        image: IMAGE_NAME_HERE
        imagePullPolicy: IfNotPresent
        ports:
        - containerPort: 8080
        env:
        - name: DATABASE_HOST
          value: postgresql
        - name: DATABASE_NAME
          valueFrom:
            secretKeyRef:
              name: postgresql
              key: database-name
        - name: DATABASE_USER
          valueFrom:
            secretKeyRef:
              name: postgresql
              key: database-user
        - name: DATABASE_PASSWORD
          valueFrom:
            secretKeyRef:
              name: postgresql
              key: database-password
        - name: POSTGRESQL_USER
          value: userFYT
        - name: POSTGRESQL_PASSWORD
          value: rWpEL7tiv6XPXImm
        - name: POSTGRESQL_DATABASE
          value: sampledb
