apiVersion: apps/v1
kind: Deployment
metadata:

  annotations:
    deployment.kubernetes.io/revision: "2"
    kubectl.kubernetes.io/last-applied-configuration: |
      {"apiVersion":"apps/v1","kind":"Deployment","metadata":{"annotations":{},"labels":{"app":"accounts"},"name":"accounts","namespace":"sn-labs-bhamra1234"},"spec":{"replicas":3,"selector":{"matchLabels":{"app":"accounts"}},"template":{"metadata":{"labels":{"app":"accounts"}},"spec":{"containers":[{"env":[{"name":"DATABASE_HOST","value":"postgresql"},{"name":"DATABASE_NAME","valueFrom":{"secretKeyRef":{"key":"database-name","name":"postgresql"}}},{"name":"DATABASE_USER","valueFrom":{"secretKeyRef":{"key":"database-user","name":"postgresql"}}},{"name":"DATABASE_PASSWORD","valueFrom":{"secretKeyRef":{"key":"database-password","name":"postgresql"}}}],"image":"us.icr.io/sn-labs-bhamra1234/accounts:1","name":"accounts","resources":{}}]}}}}
  creationTimestamp: "2025-11-14T17:15:22Z"
  generation: 3
  labels:
    app: accounts
  name: accounts
  namespace: sn-labs-bhamra1234
  resourceVersion: "2482240675"
  uid: 9fabf5e3-fa93-439d-bad0-0802ef271f08
spec:
  progressDeadlineSeconds: 600
  replicas: 3
  revisionHistoryLimit: 10
  selector:
    matchLabels:
      app: accounts
  strategy:
    rollingUpdate:
      maxSurge: 25%
      maxUnavailable: 25%
    type: RollingUpdate
  template:
    metadata:
      creationTimestamp: null

  name: accounts
  labels:
    app: accounts
spec:
  replicas: 3
  selector:
    matchLabels:
      app: accounts
  template:
    metadata:

      labels:
        app: accounts
    spec:
      containers:

      - env:
      - name: accounts
        image: us.icr.io/sn-labs-bhamra1234/accounts:1
        ports:
        - containerPort: 8080
        env:

        - name: DATABASE_HOST
          value: postgresql
        - name: DATABASE_NAME
          valueFrom:
            secretKeyRef:

              key: database-name
              name: postgresql
        - name: DATABASE_USER
          valueFrom:
            secretKeyRef:
              key: database-user
              name: postgresql
        - name: DATABASE_PASSWORD
          valueFrom:
            secretKeyRef:
              key: database-password
              name: postgresql
        - name: POSTGRESQL_USER
          value: userFYT
        - name: POSTGRESQL_PASSWORD
          value: rWpEL7tiv6XPXImm
        - name: POSTGRESQL_DATABASE
          value: sampledb
        image: us.icr.io/sn-labs-bhamra1234/accounts:1
        imagePullPolicy: IfNotPresent
        name: accounts
        resources: {}
        terminationMessagePath: /dev/termination-log
        terminationMessagePolicy: File
      dnsPolicy: ClusterFirst
      restartPolicy: Always
      schedulerName: default-scheduler
      securityContext: {}
      terminationGracePeriodSeconds: 30
status:
  availableReplicas: 3
  conditions:
  - lastTransitionTime: "2025-11-14T17:15:22Z"
    lastUpdateTime: "2025-11-14T17:56:38Z"
    message: ReplicaSet "accounts-7f465c7948" has successfully progressed.
    reason: NewReplicaSetAvailable
    status: "True"
    type: Progressing
  - lastTransitionTime: "2025-11-14T17:56:53Z"
    lastUpdateTime: "2025-11-14T17:56:53Z"
    message: Deployment has minimum availability.
    reason: MinimumReplicasAvailable
    status: "True"
    type: Available
  observedGeneration: 3
  readyReplicas: 3
  replicas: 3
  updatedReplicas: 3

              name: postgresql
              key: database-name
        - name: DATABASE_USER
          valueFrom:
            secretKeyRef:
              name: postgresql
              key: database-user
        - name: DATABASE_PASSWORD
          valueFrom:
            secretKeyRef:
              name: postgresql
              key: database-password

