name: CI

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest
    services:
      postgres:
        image: postgres:13
        env:
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: SSUJo2Gzt7X5PPKy7b2IpdX2
          POSTGRES_DB: testdb
        ports:
          - 5432:5432
        options: >-
          --health-cmd "pg_isready -U postgres"
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5

    steps:
      - uses: actions/checkout@v3
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: 3.9
      - name: Install dependencies
        run: |
          python -m venv venv
          source venv/bin/activate
          pip install --upgrade pip
          pip install -r requirements.txt
      - name: Lint code
        run: |
          source venv/bin/activate
          flake8 service
      - name: Run tests
        env:
          DATABASE_URI: postgresql://postgres:SSUJo2Gzt7X5PPKy7b2IpdX2@127.0.0.1:5432/testdb
        run: |
          source venv/bin/activate
          nosetests -v




